*{
  box-sizing:border-box;
}

.template1{
  max-width:900px;
  margin:auto;
  background:white;
  font-family:"Inter",sans-serif;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* HEADER */

.t1-header{
  background:#1d4ed8;
  color:white;
  padding:40px;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items:center;
}

.header-left{
  text-align:left;
}

.header-center{
  text-align:center;
}

.header-right{
  text-align:right;
}

/* INFO */

.t1-info{
  display:flex;
  justify-content:space-between;
  padding:40px;
}

.t1-info h3{
  color:#1d4ed8;
  margin-bottom:10px;
}

/* TABLE */

.t1-table{
  width:100%;
  border-collapse:collapse;
}

.t1-table thead{
  background:#1d4ed8;
  color:white;
}

.t1-table th{
  padding:12px;
  text-align:left;
}

.t1-table td{
  padding:14px 12px;
  border-bottom:1px solid #e5e7eb;
}

/* SUMMARY ROWS */

.subtotal{
  background:#e0ecff;
}

.tax{
  background:#d4e3ff;
}

.total{
  background:#c7e5c1;
  font-weight:600;
}

/* PAYMENT */

.t1-payment{
  padding:40px;
}

/* NOTES */

.t1-notes{
  padding:0 40px 40px 40px;
}

.header-left,
.header-right{
  word-break: break-word;
  max-width: 250px;
}